@model VideoStreamingAspMvc.Models.Video

<div class="form-group">
    @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-2" })
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-sm-8" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-2" })
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-sm-8", rows = 4 })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Genre, new { @class = "control-label col-sm-2" })
    @Html.EnumDropDownListFor(m => m.Genre, new { @class = "form-control col-sm-8" })
</div>

<div class="form-group">


    <div class="col-sm-offset-2">

    <div class="file-control">
        <label class="btn btn-default text-center" for="videoFileInput">
            <input id="videoFileInput" name="videoFile" type="file" style="display:none"
                onchange="videoFileSelected(this)">
            Browse
        </label>

        <input type="text" class="file-control-text" id="fileNameLabel" disabled/>
    </div>

    </div>

    
</div>

<div class="form-group">
    @Html.HiddenFor(m => m.Id)
    <input type="submit" class="btn btn-primary" value="Save" />
</div>


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    function videoFileSelected(fileInput) {
        var file = fileInput.files[0];
        
        $('#fileNameLabel').val(file.name); // update fileNameLabel

        formData = new FormData();
        formData.append(file.name, file);

        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        }

        xhr.upload.onprogress = function (e) {
            // it will never come inside here
            console.log("progress:", e.loaded, "out of", e.total, "(", parseInt((e.loaded/e.total)*100),"%)");
        }

        xhr.open("POST", "@Url.Action("UploadVideo", "Videos")");
        xhr.send(formData);
    }
</script>

