@model  IEnumerable<VideoStreamingAspMvc.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>

<p>
    @Html.ActionLink("Add Video", "New", null, new { @class = "btn btn-primary" })
</p>

<div class="container">
    <ul class="list-group">
        @foreach (var video in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <span class="col-xs-10">@video.title (@video.genre)</span>
                    @Html.ActionLink("Edit", "Edit", new { id = video.id }, new { @class = "btn btn-xs btn-warning col-xs-1" })
                    @Html.ActionLink("Delete", "ConfirmDelete", new { id = video.id }, new { @class = "btn btn-xs btn-danger col-xs-1" })
                </div>
            </li>
        }
    </ul>
</div>
